*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

main {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.main {
  background-color: #F8F9FA;
  height: 95%;
  width: 94%;
  border-radius: 13px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

.left {
  background-color: whitesmoke;
  border-radius: 13px;
  padding: 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.header-text {
  color: #4B0082;
  font-size: 2rem;
  font-weight: 800;
  padding-left: 10%;
}

.tasks,
.projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

p {
  height: 48px;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 10%;
  border: 1px solid transparent;
  border-image: linear-gradient(to right,#0189cd, #e37006, #cf8acb, #6400b6) 1;
  border-radius: 10px;
}

.right {
  padding: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3%;
}

.card {
  padding: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  border: 1px solid transparent;
  border-image: linear-gradient(to right,#0189cd, #e37006, #cf8acb, #6400b6) 1;
  border-radius: 10px;
}

.description {
  height: 100%;
  color: grey;
  font-size: 0.9rem;
}

.botter {
  display: flex;
  justify-content: space-between;
}

svg {
  max-height: 30px;
  max-width: 30px;
}

.imgs img {
  max-height: 30px;
  max-width: 30px;
}

.imgs {
  display: flex;
  justify-content: end;
  gap: 5px;
}

form>div {
  display: flex;
  flex-direction: column;
}

fieldset {
  display: flex;
  justify-content: space-around;
}

.task-modal {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  backdrop-filter: blur(10px);
}

.task-container {
  height: 550px;
  width: 500px;
  backdrop-filter: blur(30px);
  border: 1px solid transparent;
  border-image: linear-gradient(to right,#0189cd, #e37006, #cf8acb, #6400b6) 1;
  padding: 50px;
  padding-top: 70px;
  background-image: url(./images/background.png);
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#close {
  max-height: 50px;
  max-width: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#add-task {
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.newtask {
  cursor: pointer;
}